#cadastro-inicial {
    h1 {
        text-align: center;
    }

    form {
        margin-bottom: 30px;
    }

    >.container{
        position: absolute;

        &.fade:not(.show){
            z-index: -1;
            transition: opacity .5s linear;
        }
    }

    .alert{
        text-align: center;
        margin-top: 20px;
    }
}
