#cadastro-inicial {
    h1 {
        text-align: center;
    }

    form {
        margin-bottom: 30px;
    }

    > .container {
        &.fade:not(.show) {
            z-index: -1;
            transition: opacity 0.5s linear;
            position: absolute;
            top: 0;
            max-height: 100vh;
        }
    }

    .alert {
        text-align: center;
        margin-top: 20px;
    }
}
